Subject: Your account at {{communityName}} is approved
<h1>You’re all set</h1>
<p>{{t "greeting"}} {{residentName}},</p>
<p>Your account at <strong>{{communityName}}</strong> has been approved. You can now raise tickets, request services and book amenities.</p>
{{#if appUrl}}<p style="margin: 20px 0;"><a class="btn" href="{{appUrl}}">Open Living</a></p>{{/if}}
