<div style="padding: 18px 28px 24px;">
  <p class="muted" style="margin: 12px 0 0;">
    {{t "footer_tagline"}}<br />
    {{#if supportEmail}}{{t "footer_help"}} <a href="mailto:{{supportEmail}}">{{supportEmail}}</a><br />{{/if}}
    <span>&copy; {{year}} {{#if brandName}}{{brandName}}{{else}}Living{{/if}}</span>
  </p>
</div>
