Subject: {{subject}}
{{#if heading}}<h1>{{heading}}</h1>{{/if}}
{{#if greetingName}}<p>{{t "greeting"}} {{greetingName}},</p>{{/if}}
{{{bodyHtml}}}
{{#if actionUrl}}<p style="margin: 20px 0;"><a class="btn" href="{{actionUrl}}">{{#if actionLabel}}{{actionLabel}}{{else}}Open{{/if}}</a></p>{{/if}}
